<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/dracula.min.css"> <!-- Optional theme -->
    <link rel="stylesheet" href="/static/main.css">
    <title>SSH GUI</title>
</head>

<body>
    <div>Connected to {{ host }} as {{ username }}@{{ host }}<br>{{ output }}</div>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <h3 id="pwd"></h3>

    <table id="filelist" class="filelist">
        <!-- File list will be populated here -->
    </table>

    <div id="modal-00" class="modal">
        <div class="modal-body">
            <div class="modal-head">
                <button onclick="close_modal('modal-00')" style="align-self: self-end;">X</button>
            </div>
            <div class="content" id="file_view">
                <textarea id="output" rows="5" cols="33" style="width: 100%; height: 90%; resize: none;"></textarea>

            </div>
            <input type="hidden" id="filename">
            <button type="button" onclick='save()'>save</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="/static/index.js"></script>
</body>

</html>
